{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "new-cap": [
      2, {
        "capIsNewExceptions": ["List", "Map"]
      }
    ],
    "react/prefer-stateless-function": 0,
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_"
      }
    ],
    "no-confusing-arrow": [
      "error",
      {"allowParens": true}
    ],
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0
  }
}
