/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+json */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.8rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.Select, .Select-control {
  position: relative; }

.Select-arrow-zone, .Select-clear-zone, .Select-loading-zone {
  text-align: center;
  cursor: pointer; }

.Select, .Select div, .Select input, .Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none; }

.Select-control {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: 0;
  overflow: hidden;
  width: 100%; }

.is-searchable.is-focused:not(.is-open) > .Select-control, .is-searchable.is-open > .Select-control {
  cursor: text; }

.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9; }

.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1); }

.Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Select-arrow-zone, .Select-clear-zone, .Select-loading, .Select-loading-zone {
  position: relative;
  vertical-align: middle; }

.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label, .has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
  color: #333; }

.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus, .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus, .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover {
  color: #007eff;
  outline: 0;
  text-decoration: underline; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.Select-input > input {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-appearance: none; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: 0; }

.Select-loading-zone {
  display: table-cell;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin .4s infinite linear;
  -o-animation: Select-animation-spin .4s infinite linear;
  animation: Select-animation-spin .4s infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn .2s;
  -o-animation: Select-animation-fadeIn .2s;
  animation: Select-animation-fadeIn .2s;
  color: #999;
  display: table-cell;
  width: 17px; }

.Select-clear-zone:hover {
  color: #D0021B; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  display: table-cell;
  width: 25px;
  padding-right: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0; }

.Select-noresults, .Select-option {
  box-sizing: border-box;
  display: block;
  padding: 8px 10px; }

.Select-arrow-zone:hover > .Select-arrow, .is-open .Select-arrow {
  border-top-color: #666; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  background-color: #fff;
  color: #666;
  cursor: pointer; }

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-focused {
  background-color: rgba(0, 126, 255, 0.08);
  color: #333; }

.Select-option.is-disabled {
  color: #ccc;
  cursor: default; }

.Select-noresults {
  color: #999;
  cursor: default; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: .9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none; }

.Select--multi a.Select-value-label:hover {
  text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px; }

.Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6; }

.Select--multi .Select-value-icon:active {
  background-color: rgba(0, 126, 255, 0.24); }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }

.Select--multi.is-disabled .Select-value-icon:active, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:hover {
  background-color: #fcfcfc; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

.rsf-layout-page {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  color: #333; }

.rsf-layout-nav {
  background: #272E35;
  flex-basis: 200px;
  flex-shrink: 0;
  padding: 1rem;
  margin-right: 2rem; }
  .rsf-layout-nav > .rsf-heading {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
  .rsf-layout-nav > .rsf-list {
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding: 0; }
  .rsf-layout-nav .rsf-anchor {
    text-decoration: none;
    color: white;
    line-height: 1.4;
    display: block;
    font-size: 0.8rem; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.rsf-layout-content {
  flex-grow: 1;
  max-height: 100%;
  padding: 1rem;
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
  overflow-y: scroll;
  animation: fade-in 0.3s ease-in-out; }
  .rsf-layout-content hr {
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-color: #EDEDED; }
  .rsf-layout-content code:not([class]) {
    display: inline-block;
    background: rgba(39, 46, 53, 0.1);
    padding: 0.1rem 0.25rem;
    margin-bottom: 2px; }
  .rsf-layout-content.recipes {
    padding: 0; }
  .rsf-layout-content div:not([class]) {
    margin-bottom: 1rem; }
  .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):not([style]), .rsf-layout-content textarea {
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #EDEDED;
    font-family: Lato, sans-serif;
    font-weight: 300; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):not([style]) + input, .rsf-layout-content textarea + input {
      margin-top: 0.5rem; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):not([style]):hover, .rsf-layout-content textarea:hover {
      border: 1px solid rgba(87, 145, 201, 0.4); }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):not([style]):focus, .rsf-layout-content textarea:focus {
      outline: none;
      border: 1px solid #5791c9; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):not([style]).-error, .rsf-layout-content textarea.-error {
      border-color: red; }
  .rsf-layout-content select {
    display: block;
    margin-bottom: 1rem;
    width: 100%; }
  .rsf-layout-content label {
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    color: #BCBCBC;
    display: block; }
  .rsf-layout-content table {
    margin-bottom: 1rem; }
  .rsf-layout-content th {
    text-align: left;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #BCBCBC;
    font-weight: 400; }
  .rsf-layout-content button {
    -webkit-appearance: none;
    background-color: #5791c9;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .rsf-layout-content button:focus {
      outline: 1px solid white;
      outline-offset: -2px; }
    .rsf-layout-content button + button {
      margin-left: 0.5rem; }
    .rsf-layout-content button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

.rsf-layout-content h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0; }

.rsf-layout-content p {
  line-height: 1.4; }

.rsf-layout-content ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style-type: square;
  padding-left: 1rem; }

.rsf-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .rsf-recipe > .rsf-content, .rsf-recipe > .rsf-data {
    flex-shrink: 0; }
  .rsf-recipe > .rsf-data {
    flex-basis: 40%; }
  .rsf-recipe > .rsf-content {
    padding: 1rem;
    flex-basis: 60%; }
  .rsf-recipe > .rsf-code {
    flex-basis: 100%; }
  @media (max-width: 600px) {
    .rsf-recipe {
      display: block; } }

.rsf-data {
  font-size: 0.85rem;
  border-left: 1px solid #eee; }
  .rsf-data > pre {
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    border-bottom: 1px solid #EDEDED;
    margin: 0; }

.rsf-field {
  margin-bottom: 0.5rem; }

.rsf-error {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.25rem; }

.rsf-success {
  color: green;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.25rem; }

.rsf-tab {
  padding: 0.5rem;
  border-bottom: 3px solid transparent;
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 700;
  cursor: pointer; }
  .rsf-tab:hover {
    border-color: rgba(255, 165, 0, 0.3); }
  .rsf-tab.-active {
    border-color: orange; }

#redux-simple-form {
  overflow: hidden; }
  #redux-simple-form > span {
    animation: move-up 0.6s cubic-bezier(0.18, 1, 0.18, 1) both;
    position: relative;
    display: inline-block; }
  #redux-simple-form > span:nth-child(1) {
    animation-delay: 0.1s; }
  #redux-simple-form > span:nth-child(2) {
    animation-delay: 0.2s; }
  #redux-simple-form > span:nth-child(3) {
    animation-delay: 0.3s; }

@keyframes move-up {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
