/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+json */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.8rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

.rsf-layout-page {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  color: #333; }

.rsf-layout-nav {
  background: #272E35;
  flex-basis: 200px;
  flex-shrink: 0;
  padding: 1rem;
  margin-right: 2rem; }
  .rsf-layout-nav > .rsf-heading {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
  .rsf-layout-nav > .rsf-list {
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding: 0; }
  .rsf-layout-nav .rsf-anchor {
    text-decoration: none;
    color: white;
    line-height: 1.4;
    display: block;
    font-size: 0.8rem; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.rsf-layout-content {
  flex-grow: 1;
  max-height: 100%;
  padding: 1rem;
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
  overflow-y: scroll;
  animation: fade-in 0.3s ease-in-out; }
  .rsf-layout-content hr {
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-color: #EDEDED; }
  .rsf-layout-content code:not([class]) {
    display: inline-block;
    background: rgba(39, 46, 53, 0.1);
    padding: 0.25rem; }
  .rsf-layout-content.recipes {
    padding: 0; }
  .rsf-layout-content div:not([class]) {
    margin-bottom: 1rem; }
  .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]), .rsf-layout-content textarea {
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #EDEDED;
    font-family: Lato, sans-serif;
    font-weight: 300; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]) + input, .rsf-layout-content textarea + input {
      margin-top: 0.5rem; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):hover, .rsf-layout-content textarea:hover {
      border: 1px solid rgba(87, 145, 201, 0.4); }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]):focus, .rsf-layout-content textarea:focus {
      outline: none;
      border: 1px solid #5791c9; }
    .rsf-layout-content input:not([type="radio"]):not([type="checkbox"]).-error, .rsf-layout-content textarea.-error {
      border-color: red; }
  .rsf-layout-content select {
    display: block;
    margin-bottom: 1rem;
    width: 100%; }
  .rsf-layout-content label {
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    color: #BCBCBC;
    display: block; }
  .rsf-layout-content table {
    margin-bottom: 1rem; }
  .rsf-layout-content th {
    text-align: left;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #BCBCBC;
    font-weight: 400; }
  .rsf-layout-content button {
    -webkit-appearance: none;
    background-color: #5791c9;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .rsf-layout-content button:focus {
      outline: 1px solid white;
      outline-offset: -2px; }
    .rsf-layout-content button + button {
      margin-left: 0.5rem; }
    .rsf-layout-content button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

.rsf-layout-content h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0; }

.rsf-layout-content p {
  line-height: 1.4; }

.rsf-layout-content ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style-type: square;
  padding-left: 1rem; }

.rsf-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .rsf-recipe > .rsf-content, .rsf-recipe > .rsf-data {
    padding: 1rem;
    flex-shrink: 0; }
  .rsf-recipe > .rsf-data {
    flex-basis: 40%; }
  .rsf-recipe > .rsf-content {
    flex-basis: 60%; }
  .rsf-recipe > .rsf-code {
    flex-basis: 100%; }
  @media (max-width: 600px) {
    .rsf-recipe {
      display: block; } }

.rsf-data {
  font-size: 0.85rem;
  border-left: 1px solid #eee; }

.rsf-field {
  margin-bottom: 0.5rem; }

.rsf-error {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.25rem; }
